.card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 210px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .favorite {
    position: absolute;
    cursor: pointer;
  }

  .cardImage {
    width: 163px;
    object-fit: cover;
  }

  .cardName {
    flex: 1;
    margin: 14px 0;
    font-size: 14px;
    font-weight: 400;
  }

  .cardBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;

      span {
        font-size: 15px;
        opacity: 0.5;
      }

      b {
        font-size: 15px;
      }
    }

    svg {
      cursor: pointer;
    }
  }
}